@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Noto+Serif+Georgian:wght@500&display=swap');

/* Initial formatting code taken from the Code Institute Love Running Porject */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Cormorant Garamond', 'Noto Serif Georgian', serif;
    background-color: #DABFFF;    
    font-size: 1.5rem;    
}

header {
    padding-bottom: 2rem;
    font-size: 2.5rem;
}

header > h1 {
    padding-top: 3rem;
    font-weight: 400;
}

#profile {
    padding: 3rem;
    
}

.container {
    display: flex;
    flex-direction: row;
}

#modal {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.95);
}

/* header > h2 {
    padding-left: 3rem;
    font-weight: 400;

} */

#modal-content {
    /* display: flex;
    flex-direction: row; */
    background-color: #DABFFF;
    margin: 10% auto;
    padding: 2rem;
    border: 1px solid #0E0004;
    width: 50%;
}

#close {
    color: #0E0004;
    font-size: 3rem;
    font-weight: bold;
}

#close:hover, #close:focus {
    cursor: pointer;
}


/* Sign up form content  */


#open{
    padding: 0.6rem;
    margin: 0.6rem 0;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: #DABFFF;
    letter-spacing: 0.06rem;
    color: black;
    border: black 0.1rem solid;
    width: 25%;
    
}

#open:hover {
    background-color: #0E0004;
    color: #DABFFF;
}


.sign-up-text {
    padding: 0.3rem;
    margin: 0.6rem 0;
    background-color: #DABFFF;
    border: black 0.1rem solid;
}

#submit {
    padding: 0.6rem;
    margin: 0.6rem 0;
    font-weight: 700;
    background-color: #DABFFF;
    letter-spacing: 0.06rem;
    color: black;
    border: black 0.1rem solid;
}

#submit:hover {
    font-weight: 700;
    color: #DABFFF;
    background-color: #0E0004;
}

form > p {
    font-weight: 700;
    letter-spacing: 0.06rem;
    padding-bottom: 0.6rem;
}

form > p, label {
    color: #0E0004;
}



/* Quiz Styling */

.question-container {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: center;  */
    padding-left: 3rem;
}

.results-container {
    display: flex;
    justify-content: center;
}

#calculate { 
    padding: 0.6rem;
    margin: 0.6rem 0;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: #DABFFF;
    letter-spacing: 0.06rem;
    color: black;
    border: black 0.1rem solid;
    width: 15%;
}  

#calculate:hover {
    background-color: #2C2A4A;
    color: #DABFFF;
}


/* Footer styling */

footer {
    background-color: #2C2A4A;
    height: 5rem;
}

footer > i, footer > p {
    color: #DABFFF;
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 2rem;
}