@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Noto+Serif+Georgian:wght@500&display=swap');

/* Initial formatting code taken from the Code Institute Love Running Porject */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Cormorant Garamond', 'Noto Serif Georgian', serif;
    background-color: #BD717D;
    color: #4B081C;
    font-size: 1.5rem;
    
}

.question-container {
    display: flex;
    flex-direction: column;
}