@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

/* Initial formatting code taken from the Code Institute Love Running Porject */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    background-color: grey;
    color: black;
    font-size: 1.75rem;    
    display: flex;
    flex-direction: column; 
    overflow-x: hidden;   
}

header {
    padding-bottom: 1rem;
    font-size: 2.5rem;
    padding-left: 3rem; 
    padding-top: 2rem; 
    font-weight: 700;
    /* padding: 2rem; */
}

#modal {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.95);
}

#news-section {
    line-height: 2.5rem;
    padding: 3rem;
    font-size: 1.5rem;
}

#modal-content {
    /* display: flex;
    flex-direction: row; */
    background-color: #DABFFF;
    font-weight: 600;
    margin: 10% auto;
    padding: 2rem;
    border: 1px solid #0E0004;
    width: 30%;
}

#close {
    color: #0E0004;
    font-size: 3rem;
    font-weight: bold;
}

#close:hover, #close:focus {
    cursor: pointer;
}


/* Sign up form content  */


#open{
    padding: 0.6rem;
    margin: 0.6rem 0;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: #DABFFF;
    letter-spacing: 0.06rem;
    color: black;
    border: black 0.1rem solid;
    width: 25%;    
}

#open:hover {
    background-color: #0E0004;
    color: #DABFFF;
}

.sign-up-text {
    padding: 0.3rem;
    margin: 0.6rem 0;
    background-color: #DABFFF;
    border: black 0.1rem solid;
}

#submit {
    padding: 0.6rem;
    margin: 0.6rem 0;
    font-weight: 700;
    background-color: #DABFFF;
    letter-spacing: 0.06rem;
    color: black;
    border: black 0.1rem solid;
}

#submit:hover {
    font-weight: 700;
    color: #DABFFF;
    background-color: #0E0004;
}

form {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

form > p {
    font-weight: 700;
    letter-spacing: 0.06rem;
    padding-bottom: 0.6rem;
}

form > p, label {
    color: #0E0004;
}



/* Quiz Styling */

.question-container {
    padding-left: 3rem;
    line-height: 3.5rem;
}

.results-container {
    justify-content: center;
    padding: 2rem;
}

#calculate { 
    padding: 0.6rem;
    /* padding-left: 3rem; */
    margin: 0.6rem 0;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: #DABFFF;
    letter-spacing: 0.06rem;
    color: black;
    border: black 0.1rem solid;
    width: 15%;
}  

#calculate:hover {
    background-color: #2C2A4A;
    color: #DABFFF;
}

#book-image {
    height: 25rem;
    padding-left: 3rem;
}


/* Footer styling */

footer {
    background-color: #2C2A4A;
    height: 5rem;
}

footer > i, footer > p {
    color: #DABFFF;
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 2rem;
    width: 100%;
}

/* Responsive design */

/* Devices up to 480 pixels */

@media screen and (max-width: 480px) {

    #header {
        padding: 1.5rem;
    }

    #news-section { 
        padding: 1.5rem; 
    }

    #open {
        width: 90%;
    }

    #modal-content {
        width: 90%;        
    }

    .question-container {
        padding: 1.5rem;
        font-size: 1.5rem;
    }

    #calculate {
        width: 90%;
    }

    #book-image {
        padding-top: 1rem;
    }

    footer > p {
        font-size: 1.5rem;
    }
}
/* Tablet computers and devices from 481 pixels */

@media screen and (min-width: 481px) and (max-width: 768px)  {

    #open {
        width: 90%;
    }

    #modal-content {
        width: 90%;
    }

    .question-container {
        padding-left: 2rem;
    }

    #calculate {
        width: 90%;
    }

    #book-image {
        padding-top: inherit;
    }
}

/* Laptops and small computers from 769 pixels */

/* @media screen and (min-width: 769px and max-width: 1024px) {
    #open {
        width: 50%;
    }

    #modal-content {
        width: 50%;
    }

    .question-container {
        padding-left: 1.5rem;
    }

    #calculate {
        width: 50%;
    }
} */






